@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>@this.Model._cookie</h1>
<div class="text-center">
    <form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Upload" />
    <input type="submit" />
    </form>
</div>
