@page
@model IndexModel
@using System.IO
@{
    ViewData["Title"] = "Home page";
    SessionFiles sessionFiles = (SessionFiles)ViewData["SessionFiles"];
}
<h1>
    Upload file here!
</h1>
<div class="text-center">
    <form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Upload" />
    <input type="submit" />
    </form>
</div>

<ul>
        @foreach (var item in sessionFiles.UploadedList())
        {
            <li>
                <div>
                    @item 
                    <form asp-page-handler="DownloadFile" method="post">
                    <button class="btn btn-default">Download</button>
                    <input type="hidden" name="file" value=@item />
                    </form>
                </div>
            </li>
        }
</ul>
